APP_MODE=gui
APP_LANGUAGE=pt
ENABLE_WEATHER=true
ENABLE_SPOTIFY=true
ENABLE_GOOGLE_CALENDAR=true

WEATHER_LOCATION=Lisbon
# WEATHER_LAT=38.7223
# WEATHER_LON=-9.1393

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
# SPOTIFY_CACHE_PATH=.cache/spotify_token.json

GOOGLE_CALENDAR_ID=primary
# GOOGLE_CREDENTIALS_FILE=credentials.json
# GOOGLE_TOKEN_FILE=token.json
