APP_LANGUAGE=pt

WEATHER_LOCATION=Lisbon
# WEATHER_LAT=38.7223
# WEATHER_LON=-9.1393

SPOTIPY_CLIENT_ID=
SPOTIPY_CLIENT_SECRET=
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8888/callback
# SPOTIPY_CACHE_PATH=.cache/spotify_token.json

GOOGLE_CALENDAR_ID=primary
# GOOGLE_CREDENTIALS_FILE=credentials.json
# GOOGLE_TOKEN_FILE=token.json
